.update-container .pic-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .update-container .detail-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.9rem;
    overflow-y: scroll;
  }
  .save-btn{
    background-color: #EA0A84;
    color:white
  }
  .save-btn:hover{
    background-color:white;
    color: #EA0A84;
  }
  .update-container .detail-body input{
      width: 100%;
  }