.detail-container .pic-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .detail-container .detail-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1rem;
    
  }